<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Note Travel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DD549E71C3DE81300C3473B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DD549FE1C3DE81400C3473B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DD54A091C3DE81400C3473B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
